# MongoDB Atlas Database Credentials (Template)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/
MONGODB_DB=sgwwsp_ecommerce

# Workshop Store Metadata
NEXT_PUBLIC_APP_NAME="Shree Ganesh Steel & Welding Workshop"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
